html{
 background-image: url('../images/bats.gif');
}

body {
 background-color: white;
 box-shadow: 15px 15px 10px black;
 border-style: solid;
 font-family: "PT Sans Narrow", sans-seriff;  
 margin: auto;
 padding: 10px;
 width: 800px;
}

h2.halloween{ 
}

h2{
 font-size: 36px;
}

h3{
 font-size: 30px;
}

p{
 font-size: 20px;
}

p.copyright{
 text-align: center;
} 

h2.welcome::first-letter { 
 color: black; 
 font-size: 150%;  
}

li.top a:link {
 color: white;
 font-size: 20px;
 text-decoration: none;
}

li.tops a:link {
 color: orange;
 font-size: 20px;
 text-decoration: none;
}

li.box a:link {
 color: black;
 font-size: 20px;
 text-decoration: none
}

a:hover {
 color:green;
}

a:link {
 color: orange;
}

.pumpkin {
 float: left;
 height: 100px;
 margin-left: 0px;
 margin-right: 20px;
 width: 92px;   
}

header{
 background: linear-gradient(45deg,white,orange,orange,black);
 border-bottom-style: solid;
 margin-left: -10px;
 margin-right: -10px;
 margin-top: 0px; 
 margin-top: -40px;
 text-align: left; 
}

footer{
 background: linear-gradient(45deg,black,orange,orange,white);
 border-top-style: solid;
 margin-bottom: -30px;
 margin-left: -10px;
 margin-right: -10px;  
}

main{
 margin-bottom: -20px;
 margin-top: -20px;
}

#sidebar
{
 background: white;
 float: left;
 height: 700px;
 list-style-type: none;
 margin-left: -10px;
 margin-top: 45px;
 padding-top: 0px;
 width: 115px;
}
#navigate {
 list-style-type: none;
 margin:0;
 margin-left: -10px;
 margin-right: -40px;
 margin-top: 20px;
 overflow: hidden;
 padding: 0;
}

li.top {
 float: left;
 width: 164px; 
}
li.tops {
 float: left;
 width: 164px; 
}

li.top a {
 display: block;
 padding: 14px 20px;
 background-color: black;
 text-align: center;   
}
li.tops a {
 display: block;
 padding: 14px 20px;
 background-color: black;
 text-align: center;   
}

li.top a:hover {
 background-color: grey;
}
li.tops a:hover {
 background-color: grey;
}

li.box {
 background-color: orange;
 border: 3px solid black;
 margin-bottom: 5px;
 margin-left: -30px;
 margin-right: 15px;
 padding-bottom: 5px;
 padding-left: 20px;
 padding-right: 30px;
 padding-top: 5px;
 text-align: left;
 width: 80px;  
}

a.big {
 display:block;
 width:100px;
}
    



    
