html{
 background-image: url('../images/bats.gif')
}

body {
 background-color: white;
 box-shadow: 15px 15px 10px black;
 border-style: solid;
 font-family: "PT Sans Narrow", sans-seriff;  
 margin: auto;
 padding: 10px;
 width: 800px;   
}

h2.halloween{ 
}

h2{
 font-size: 36px;
}

h3{
 font-size: 30px;
}

p{
 font-size: 20px;
}

p.copyright{
 text-align: center;
} 

h2.welcome::first-letter { 
 color: black; 
 font-size: 150%;  
}

a:link {
 color:orange;
 font-size: 20px;
}

a:hover {
 color:green;
}

.pumpkin {
 float: left;
 height: 100px;
 margin-left: 0px;
 margin-right: 20px;
 width: 92px;   
}

header{
 background: linear-gradient(45deg,white,orange,orange,black);
 border-bottom-style: solid;
 margin-left: -10px;
 margin-right: -10px;
 margin-top: 0px; 
 margin-top: -40px;
 text-align: left; 
}

footer{
 background: linear-gradient(45deg,black,orange,orange,white);
 border-top-style: solid;
 margin-bottom: -30px;
 margin-left: -10px;
 margin-right: -10px;
    
}

main{
 margin-bottom: -20px;
}